<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookManage.Properties.Settings.BookManageConnectionString"
            connectionString="Data Source=JXL-PC\SQLEXPRESS;Initial Catalog=BookManage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>